.header-auth {
    background-attachment: fixed;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.header__wave {
    background-size: cover;
    height: 100%;
    position: relative;
}
.header__wave-box {
    bottom: 0;
    height: 100%; 
    overflow: hidden;
    position: absolute;
}

.wave-img {
    stroke: none; 
    fill: var(--secondary-color);
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main_auth {
    width: 100%;
    height: 100vh;
}
.page {
    height: 100%;    
    place-content: center;
    place-items: center; 
}
.auth__box {
    background: #ffffff;
    border-radius: 32px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    height: 570px;
    place-content: center;
    place-items: center; 
    position: absolute;
    width: 550px;
}
.auth__logo {
    -webkit-user-drag: none;
    bottom: 15px;
    position: absolute;
    right: 15px;
    user-select: none;
    width: 60px;
}

.form {
    place-items: center; 
    place-content: center;
}
.group-input {
    position: relative;
    width: 90%;
    margin: 25px auto 0 auto;
}
.input {
    background: #ffffff;
    font-family: inherit;
    outline: none;
}
.input-icon {
    position: absolute;
    font-size: 25px;
    left: 0;
    bottom: 10px;
    color: var(--items-color);
}
.recovery__text {
    color: rgba(0, 0, 0, 0.685);
    text-align: left;
    margin-left: 15px;
}

.links {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.links a{
    background-image: linear-gradient( to right, var(--secondary-color), var(--secondary-color) 50%, black 50% );
}

.google__button {
    transition: transform .4s;
}
.google__button:hover {
    transform: scale(1.1);
}

@keyframes pathAnim-0{
    0%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 115.0717703349282,188.555023923445 230.1435406698564,177.11004784688996 323,195 C 415.8564593301436,212.88995215311004 486.4976076555025,260.1148325358851 586,252 C 685.5023923444975,243.8851674641149 813.866028708134,180.43062200956942 897,169 C 980.133971291866,157.56937799043058 1018.0382775119617,198.16267942583733 1101,212 C 1183.9617224880383,225.83732057416267 1311.9808612440193,212.91866028708134 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 123.98086124401911,210.7081339712919 247.96172248803822,221.41626794258374 335,197 C 422.0382775119618,172.58373205741626 472.13397129186615,113.04306220095694 569,134 C 665.8660287081339,154.95693779904306 809.5023923444976,256.41148325358853 914,260 C 1018.4976076555024,263.58851674641147 1083.8564593301435,169.311004784689 1165,143 C 1246.1435406698565,116.688995215311 1343.0717703349283,158.3444976076555 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 123.79904306220095,211.96172248803828 247.5980861244019,223.92344497607655 332,238 C 416.4019138755981,252.07655502392345 461.4066985645934,268.26794258373207 537,242 C 612.5933014354066,215.7320574162679 718.7751196172248,147.00478468899522 835,138 C 951.2248803827752,128.99521531100478 1077.4928229665072,179.7129186602871 1180,200 C 1282.5071770334928,220.2870813397129 1361.2535885167463,210.14354066985646 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 89.2153110047847,157.8468899521531 178.4306220095694,115.69377990430621 283,128 C 387.5693779904306,140.3062200956938 507.4928229665072,207.07177033492823 597,213 C 686.5071770334928,218.92822966507177 745.5980861244019,164.01913875598086 823,170 C 900.4019138755981,175.98086124401914 996.1148325358852,242.8516746411483 1102,258 C 1207.8851674641148,273.1483253588517 1323.9425837320573,236.57416267942585 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 115.0717703349282,188.555023923445 230.1435406698564,177.11004784688996 323,195 C 415.8564593301436,212.88995215311004 486.4976076555025,260.1148325358851 586,252 C 685.5023923444975,243.8851674641149 813.866028708134,180.43062200956942 897,169 C 980.133971291866,157.56937799043058 1018.0382775119617,198.16267942583733 1101,212 C 1183.9617224880383,225.83732057416267 1311.9808612440193,212.91866028708134 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media screen and (max-width: 768px) {
    
    .auth__box {
        width: 500px;
        height: 515px;
    }

}

@media screen and (max-width: 576px) {

    .auth__box {
        width: 410px;
        height: 503px;
    }

    .links a {
        height: 40px;
        margin-top: 5px;
    }

    .auth__logo {
        display: none;
    }

}

@media screen and (max-width: 450px) {

    .auth__box {
        width: 344px;
        height: 481px;
    }
    .links {
        width: 98%;
        height: 32px;
    }
    
    .submit-button {
        margin-top: 0px;
    }

}

/* For small devices */
@media screen and (max-width: 370px) {
    

}